# Copy this file to local.properties if Android Studio does not detect your SDK.
# Do not commit local.properties.
#
# Windows example:
# sdk.dir=C\:\Users\YourName\AppData\Local\Android\Sdk
#
# macOS example:
# sdk.dir=/Users/YourName/Library/Android/sdk
#
# Linux example:
# sdk.dir=/home/YourName/Android/Sdk
